body{
    box-sizing: border-box;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}
/* header */
.header_content h1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
h1{
    margin: 0;
    font-size: 32px;
}
h1 .header_logo{
    width: 51px;
    height: 100%;
    margin: 0 10px 3px 0;
}
h2{
    margin: 0;
}
main h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.header_content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 5%; */
    padding: 5px 20px;
    background-color: #F3F3F5;
    position: relative;
}
.header_content h1 a{
    text-decoration: none;
    color: inherit;
}
.header_nav{
    /* background: url(./img/hamburgermenu.png);
    width: 62px;
    height: 62px;
    background-repeat: no-repeat; */
    /* display: none; */
    position: absolute;
}
.header_nav_link{
    transform: translateX(100vw);
    transition: all .3s linear;
    position: fixed;
    z-index: -99999;
    width: auto;
    height: 100%;
    right: -100px;
    top: 0;
}
.header_nav_link.active {
    transform: translateX(0);
    z-index: 1;
    right: 0;
  }
.header_nav_link_contents{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    right: 0;
    width: 240px;
    height: 100%;
    background-color: #d7003a;
    padding: 1%;
    min-width: 190px;
    padding: 10px 20px;
}
.header_nav_link_contents a{
    color: white;
    text-decoration: none;
    margin: 10px 0;
}
.header_nav_link_contents a:hover{
    text-decoration:underline;
}

.openbtn1{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#d7003a;
    cursor: pointer;
    width: 50px;
    height:50px;
    border-radius: 5px;
    z-index: 2;
  }
  /*ボタン内側*/
  .openbtn1 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
    }
  .openbtn1 span:nth-of-type(1) {
    top:15px; 
  }
  .openbtn1 span:nth-of-type(2) {
    top:23px;
  }
  .openbtn1 span:nth-of-type(3) {
    top:31px;
  }
  /*activeクラスが付与されると線が回転して×に*/
  .openbtn1.active span:nth-of-type(1) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
  }
  .openbtn1.active span:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }

/* main */
main{
    width: 90%;
    padding: 20px 5%;
}
.main_content{
    position: relative;
    margin: 0 0 20px 0;
}
.main_content h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.main_content h2:after{
    content: '';
    width: 0;
    height: 0;
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
}
.main_content h2.hide_item:after{
    content: '';
    border-bottom: 7px solid black;
    border-top: none;
}
.main_content_menu{
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    transition: 0.01s;
}
.main_content_menu.show_contents{
    opacity: 1;
    visibility: visible;
    line-height: unset;
    transition: 0.01s;
}

.main_content_menu li{
    margin: 0;
    transition: 0.01s;
}
.main_content_menu.show_contents li{
    margin: 10px 0;
    transition: 0.01s;
}
/* sub */
.sub_content{
    margin: 0 0 20px 0;
}
.sub_content h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
/* モーダル */
.modal_button {
    background: #d7003a;
    min-height: 40px;
    width: 100%;
    max-width: 330px;
    text-align: center;
    padding-bottom: 0;
    margin: 20px 0 0 0;
    padding: 10px 10px;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.modal_content{
    display: none;
}
.modal_content.show{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    top: 0;
    left: 0;
}
.modal_content_inner_title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.modal_content_inner{
    color: black;
    background: white;
    opacity: unset;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.modal_button_inner{
    background: #d7003a;
    min-height: 50px;
    width: 30%;
    text-align: center;
    padding-bottom: 0;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
     font-size: 14px;
    border: none;
    margin: 0 0 0 20px;
}
/* youtube */
.youtube_content{
    margin: 0 0 20px 0;
}
.youtube_content h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.youtube_content h2:after{
    content: '';
    width: 0;
    height: 0;
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;

}
.youtube_content h2.hide_item:after{
    content: '';
    border-bottom: 7px solid black;
    border-top: none;
}
.youtube{
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 5% 0 0 0;
    transition: 0.01s;
    display: none;
}
.youtube.show_contents{
    opacity: 1;
    visibility: visible;
    line-height: unset;
    transition: 0.01s;
    display: block;
}
/* トグルボタン */
.wrap_toggle{
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
label[for="yes"],
label[for="no"]
{
    background:#ffffff;
    text-align: center;
    padding: 15% 0%;
    margin: 5% 2% 5% 0;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: none;
    color: #d7003a;
    border: 1px solid #d7003a;
    min-width: 77px;
}
.toggle_which{
    width: 15%;
    min-width: 110px;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + label[for="yes"],
input[type="radio"]:checked + label[for="no"]{
    background: #d7003a;
    color: #ffffff;
}
.toggle_clear{
    display: none;
}
.toggle_clear_button{
    background: #d7003a;
    text-align: center;
    padding: 10px;
    margin: 5px 0 0 0;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border: 1px solid #d7003a;
}
.twitter,
.instagram{
    display: none;
}
.toggle_sns{
    margin: 10px 0;
}
.toggle_sns a{
    color: #00004C;
    text-decoration: none;
}
.toggle_sns a:hover{
    text-decoration: underline;
}
.toggle_sns a::after{
    content: '';
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-image: url(./img/out-link.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    padding: 0 0 0 20px;
}
/* カルーセル */

.carousel {
margin: 0 0 20px 0;
  }
.carousel h2:after{
    content: '';
    width: 0;
    height: 0;
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
}
.wrap_carousel.show_contents{
    display: block;
}
.carousel h2.hide_item:after{
    content: '';
    border-bottom: 7px solid black;
    border-top: none;
}
.wrap_carousel{
    display: none;
}
.carousel-arow-wrap{
    position: relative;
}
.carousel-area {
    /* width: 3150px; */
    height: 100%;
    display: flex;
    padding: 0;
}
.carousel-list {
    /* width: 600px; */
    /* height: calc(600px * 0.5625); */
    /* margin-right: 30px; */
    list-style-type: none;
    margin: 0 100px;
}
.cat1{
    display: block;
}
.cat2,
.cat3{
    display: none;
}
.carousel-img {
    width: 100%; 
    height: 100%;
}
.arow-wrap button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
}
.arow-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top: 0;
}
.arrow-btn {
    width: 48px;
    height: 48px;
    background-color: rgba(215, 0, 58, 0.8);
    border-radius: 50%;
    transition: .2s;
}
.arrow-btn:focus {
    box-shadow: 0px 1px 10px -2px rgba(215, 0, 58, 0.8);
}
.arrow-btn:hover {
    background-color: rgb(215, 0, 58);
    box-shadow: 0px 1px 10px -2px rgba(215, 0, 58, 0.8);
}
.arrow-left,
.arrow-right {
    position: relative
}
.arrow-left:before,
.arrow-right:before{
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fefefe;
    border-left: 2px solid #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
}
.arrow-left:before {
    transform: translate(-30%, -50%)rotate(-45deg);
}
/* .arrow-right {
    position: relative
} */
.arrow-right:before {
    /* content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fefefe;
    border-left: 2px solid #fefefe;
    position: absolute;
    top: 50%;
    left: 50%; */
    transform: translate(-70%, -50%)rotate(135deg);
}
.pagination {
    width: 150px;
    margin: 5% auto 0;
    display: flex;
    justify-content: space-around;
}
.pagination-circle {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: rgba(215, 0, 58, 0.3);
}
.pagination-circle.target {
    background-color: rgba(215, 0, 58, 0.8);
}

/* ロード */
#splash {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background:#333;
  text-align:center;
  color:#fff;
}

#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
  width: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#splash_text svg{
    height: 2px;
}

/* fileup */
.fileupload{
    margin: 0 0 20px 0;
}
.fileupload h2:after{
    content: '';
    width: 0;
    height: 0;
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
}
.wrap_fileup_content{
    display: none;
    margin: 20px 0 0 0;
}
.wrap_fileup_content.show_contents{
    display: block;
}
.fileupload h2.hide_item:after{
    content: '';
    border-bottom: 7px solid black;
    border-top: none;
}
.fileup_button{
    background: #d7003a;
    min-height: 40px;
    width: 100%;
    min-width: 140px;
    max-width: 235px;
    text-align: center;
    padding-bottom: 0;
    margin: 20px 0 0 0;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: none;
    padding: 5px 10px;
}
input[name="avatar"],
#filetxt{
    display: none;
}
#filetxt{
    margin: 5px 0 20px 0;
}
#filetxt.show_contents{
    display: block;
}
#filemore{
    color: #d7003a;
    font-size: 22px;
    margin: 0 10px;
}
#page_top{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}
  #page_top a{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
}
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #d7003a;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -10px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #d7003a;
}
/* filedwn */
.filedownload{
    margin: 0 0 20px 0;
}
.filedownload h2:after{
    content: '';
    width: 0;
    height: 0;
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
}
.wrap_filedwn_content{
    display: none;
    margin: 20px 0 0 0;
}
.wrap_filedwn_content.show_contents{
    display: block;
}
.filedownload h2.hide_item:after{
    content: '';
    border-bottom: 7px solid black;
    border-top: none;
}
.filedwn_button{
    background: #d7003a;
    min-height: 40px;
    width: 100%;
    min-width: 140px;
    max-width: 235px;
    text-align: center;
    padding-bottom: 0;
    margin: 20px 0 0 0;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filedwn_extxt{
    margin: 5px 0 0 0;
    font-size: 15px;
}







  @media screen and (max-width:767px){
    .openbtn1{
        cursor:unset;
    }
  }
