body{
    box-sizing: border-box;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}
/* header */
h1{
    margin: 0;
}
h2{
    margin: 0;
}
main h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.header_content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #F3F3F5;
}
.header_content h1 a{
    text-decoration: none;
    color: inherit;
}
.header_nav{
    background: url(./hamburgermenu.png);
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
}
.header_nav_link{
    transform: translateX(100vw);
    transition: all .3s linear;
    position: fixed;
    z-index: -99999;
    width: 100%;
    height: 100%;
    right: -100px;
    top: 63px;
}
.header_nav_link.active {
    transform: translateX(0);
    z-index: 1;
    right: 0;
  }
.header_nav_link_contents{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #00004C;
    padding: 1%;
    min-width: 190px;
}
.header_nav_link_contents a{
    color: white;
    text-decoration: none;
    margin: 10px 0;
}
.header_nav_link_contents a:hover{
    text-decoration:underline;
}
/* main */
main{
    width: 90%;
    padding: 5% 5% 0;
}
.main_content{
    position: relative;
    margin: 0 0 20px 0;
}
.main_content h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.main_content h2:after{
    content: '';
    width: 0;
    height: 0;
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
}
.main_content h2.hide_item:after{
    content: '';
    border-bottom: 7px solid black;
    border-top: none;
}
.main_content_menu{
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    transition: 0.01s;
}
.main_content_menu.show_contents{
    opacity: 1;
    visibility: visible;
    line-height: unset;
    transition: 0.01s;
}

.main_content_menu li{
    margin: 0;
    transition: 0.01s;
}
.main_content_menu.show_contents li{
    margin: 10px 0;
    transition: 0.01s;
}
/* sub */
.sub_content{
    margin: 0 0 20px 0;
}
.sub_content h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
/* モーダル */
.modal_button {
    background: #d7003a;
    min-height: 62px;
    width: 35%;
    min-width: 320px;
    text-align: center;
    padding-bottom: 0;
    margin: 5% 0 ;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: none;
}

.modal_content{
    display: none;
}
.modal_content.show{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    top: 0;
    left: 0;
}
.modal_content_inner_title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.modal_content_inner{
    color: black;
    background: white;
    opacity: unset;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.modal_button_inner{
    background: #cccccc;
    min-height: 50px;
    width: 30%;
    text-align: center;
    padding-bottom: 0;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: black;
     font-size: 14px;
    border: none;
    margin: 0 0 0 20px;
}
/* youtube */
.youtube_content h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.youtube_content h2:after{
    content: '';
    width: 0;
    height: 0;
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;

}
.youtube_content h2.hide_item:after{
    content: '';
    border-bottom: 7px solid black;
    border-top: none;
}
.youtube{
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 5% 0 0 0;
    transition: 0.01s;
}
.youtube.show_contents{
    opacity: 1;
    visibility: visible;
    line-height: unset;
    transition: 0.01s;
}
/* トグルボタン */
.wrap_toggle{
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
label[for="yes"],
label[for="no"]
{
    background:#ffffff;
    text-align: center;
    padding: 15% 0%;
    margin: 5% 2% 5% 0;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: none;
    color: #d7003a;
    border: 1px solid #d7003a;
}
.toggle_which{
    width: 15%;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + label[for="yes"],
input[type="radio"]:checked + label[for="no"]{
    background: #d7003a;
    color: #ffffff;
}
.twitter,
.instagram{
    display: none;
}
.toggle_sns{
    margin: 10px 0;
}
.toggle_sns a{
    color: #00004C;
    text-decoration: none;
}
.toggle_sns a:hover{
    text-decoration: underline;
}
.toggle_sns a::after{
    content: '';
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-image: url(./out-link.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    padding: 0 0 0 20px;
}